@font-face {
    font-family: LogoFont;
    src: url("./resources/techno_hideo.ttf");
}

@keyframes expand-div {
    0% {
        height: 0px;
    }
    100% {
        height: 80px;
    }
}

#game-div {
    width: 100%;
    height: 120%;
    display: none;
}

#game-toolbar {
    width: 100%;
    display: inline-flex;
}

#metrics-div {
    float: left;
    margin: auto;
    margin-left: 10px;
    font-size: 20px;
}

#pause-button {
    margin: auto;
    width: 70px;
    height: 70px;
    background-color: rgb(0, 0, 0, 0);
    border: none;
}

#toggle-night-button {
    float: right;
    margin: auto;
    margin-right: 10px;
    width: 70px;
    height: 70px;
    background-color: rgb(0, 0, 0, 0);
    border: none;
}

#canvas {
    border-style: solid;
}

#menu-div {
    width: 700px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}

#menu-headers {
    text-align: center;
}

#menu-header {
    font-size: 4em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: -10px;
}

#menu-subheader {
    font-size: 10em;
    font-family: LogoFont;
    color: maroon;
    line-height: 70%;
}

#menu-buttons {
    display: inline-block;
    margin-top: 100px;
    width: 100%;
}

#menu-buttons > div {
    margin: auto;
    width: 200px;
    height: 60px;
    display: block;
}

#menu-buttons > button {
    border-style: solid;
    position: relative;

    background-color: white;
    font-size: 30px;
    z-index: 500;
}

#menu-buttons > button {
    margin-right: 25px;
}

#custom-game-div {
    display: none;
    width: 300px;
    margin: auto;
    font-size: 18px;
}

#custom-game-div > h1 {
    text-align: center;
    margin-bottom: 50px;
}

#custom-game-div > input {
    float: right;
}

#custom-game-div > div > input {
    float: right;
}

#move-pattern-div {
    display: none;
    animation-fill-mode: both;
    animation-direction: alternate;
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
    overflow: hidden;
    margin-top: 10px;
    margin-left: 30px;
}

#custom-target-lifetime, #custom-max-targets {
    width: 45px;
}

#custom-spawn-delay {
    width: 60px;
}

#custom-game-div > button {
    width: 40px;
    margin: auto;
}

#custom-button-div {
    width: 105px;
    margin: auto;
}